
#calculator{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 6, 4);
    width: 500px;
}
#keys{
    display:block;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px;
    padding: 0px;

}
button{
    width: 75px;
    height: 70px;
    color:rgb(3, 3, 2) ;
    background-color: rgb(219, 247, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    cursor: pointer;
    border-radius: 30px;
    margin: 0px;
} 
#display{
    width: 500px;
    height:100px;
}
